- if @meeting.errors.any?
  #errorExplanation
    %h2= "#{pluralize(@meeting.errors.count, 'error')} prohibited this user from being saved:"
    %ul
    - @meeting.errors.full_messages.each do |msg|
      %li= msg

- count = 0

%div{:style => "width: 510px; margin: 0 auto 0 auto"}
  - count = 0
  = f.fields_for :topics  do |p|   
    .field
      %p{:class => 'fields'}
        = p.label :name, @meeting.topics.all[count].name
        %br
        = p.text_area :description, :class => 'topic'
      - count += 1
      = p.fields_for :tasks do |t|
        = render "task_fields", :f => t
      %p    
        = link_to_add_fields "add", p, :tasks
