- if @meeting.errors.any?
  #errorExplanation
    %h2= "#{pluralize(@meeting.errors.count, 'error')} prohibited this user from being saved:"
    %ul
    - @meeting.errors.full_messages.each do |msg|
      %li= msg

- count = 0

%table
  = f.fields_for :participants  do |p|   
    %tr    
      %td
        = p.label :name, @meeting.participants.all[count].name
      %td         
        = p.label :email, @meeting.participants.all[count].email
      %td
        - temp = ((@meeting.participants.all[count].presence ? @meeting.participants.all[count].presence : @meeting.participants.all[count].rsvp) == 'yes')
        = p.radio_button(:presence, "yes", :checked => temp)
        = label_tag(:presence, "Attended")
        = p.radio_button(:presence, "no", :checked => !temp)
        = label_tag(:presence, "Not attended")
    - count+=1

