- app_title "New Meeting"

#step
  %h3="Invite participants"
  
  %p
    An email was sent to you with the meeting management and meeting invitation links. You can now share the invitation link with the meeting participants. If you want, you can use the following tool to easily invite them (otherwise you can skip to the meeting management area):
  
  .form
    = form_for @meeting, :as => :meeting, :url => {:controller => :meetings, :action => :update},  do |f|
      = render "form_invites", :f => f     

  .form
    = form_for @meeting, :url => {:controller => :meetings, :action => :update} , :html => {:class => 'participants'}  do |f|
      = render "form_management", :f => f
      %p{:class => 'big-button'}     
        /= submit_tag 'Go back', :class => 'round'
        = submit_tag 'Start Meeting', :class => 'round'
- content_for :export_cal, render(:partial => 'export_cal')
