%h1= t('.title')
%p= link_to t('.new_meeting_topic'), new_meeting_topic_path

%table
  %thead
    %tr
      %th= MeetingTopic.human_attribute_name :id
      %th= MeetingTopic.human_attribute_name :name
      %th= MeetingTopic.human_attribute_name :description
      %th= MeetingTopic.human_attribute_name :meeting_id
      %th= MeetingTopic.human_attribute_name :deleted_at
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for meeting_topic in @meeting_topics
      %tr{ :class => cycle(:odd, :even) }
        %td= meeting_topic.id
        %td= meeting_topic.name
        %td= meeting_topic.description
        %td= meeting_topic.meeting_id
        %td= meeting_topic.deleted_at
        %td.action= link_to t('show'), meeting_topic
        %td.action= link_to t('edit'), edit_meeting_topic_path(meeting_topic)
        %td.action= link_to t('destroy'), meeting_topic, :confirm => t('are_you_sure'), :method => :delete
